langchain
langchain-community
beautifulsoup4
pandas
transformers==4.34.0
llama-cpp-python --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu121
torch \
--extra-index-url https://download.pytorch.org/whl/cu121
sentence_transformers==2.2.2
faiss-cpu==1.7.4
pypdf
python-docx
keybert
span_marker
gensim
gradio==4.31.5
gradio_client
nltk
scipy<1.13