langchain
beautifulsoup4
pandas
transformers
--extra-index-url https://download.pytorch.org/whl/cu113
torch
sentence_transformers
faiss-cpu
bitsandbytes
pypdf
python-docx
ctransformers[cuda]
keybert
span_marker
gensim
gradio==3.42.0
gradio_client