#torch, sentence_transformers, keybert, span-marker # Loaded in Dockerfile
boto3==1.42.41
python-dotenv==1.1.0
beautifulsoup4==4.13.4
google-genai==1.62.0
pandas==2.3.3
markdown==3.8.1
transformers==4.57.6
faiss-cpu==1.13.2
pypdf==6.6.2
python-docx==1.1.2
gradio<=6.5.1
nltk==3.9.2
bm25s==0.2.14
PyStemmer==3.0.0
scikit-learn==1.7.2
scipy>=1.17.0
numpy==2.2.6

